@using Mentohub.Domain.Entities;
@model List<Mentohub.Domain.Entities.Course>;
@{
    ViewData["Title"] = "Author Page";
}

<style>
    .body {
        
    }

    .myImg{
        width: 300px;
        height: 170px;
    }

    #coursesList{
        margin-left: 40px;
        margin-right: 40px;
    }

    .listElement {
        vertical-align: middle;
        display: flex;
        height: 180px;
        font-size: 18px;
        margin-top: 15px;
        width: 750px;
        border-radius: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .image-box{
        width: 300px;
        height: 170px;
    }

    a {
        text-decoration: none;
        color: black;
    }

        a:visited {
            color: black; /* Цвет посещенной ссылки */
        }

        a:hover {
            color: black; /* Цвет посещенной ссылки */
        }

    .courseName{
        font-size: 36px;
    }

    .control{
        background-color: #A9A9A9;
    }

    .mainText{
        padding-top: 35px;
        padding-bottom: 25px;
        margin-left: 120px;
        display: flex;
    }

    .createCourseBlock{
        height: 52px;
    }

    .createCourseBtn {
        margin-top: 8px
    }
</style>

<partial name="/Views/Partial/Header.cshtml" />

<div class="body">
    <div class="control">
        <div class="mainText">
            <h1 style="width: 82%">Author`s control panel</h1>
            <div class="createCourseBlock">
                <a class="btn btn-primary createCourseBtn" href="/Course/Edit/0">Create course</a>
            </div>
        </div>        
    </div>
    <div class="summary">

    </div>
    <hr />
    <div id="coursesList">
        @{
            foreach (Course c in Model)
            {
                string url = "https://mystudystorage.blob.core.windows.net/test/" + c.PicturePath;

                <div class="listElement">
                    <div class="image-box">
                        <img class="myImg" src="@url" alt="Title">
                    </div>
                    <div style="margin-left: 10px;" width="40%">
                        <a class="courseName" href="/Course/Edit/@c.Id">@c.Name</a>
                    </div>
                </div>
            }
        }
    </div>
</div>